/* VARIAVEIS GLOBAIS */
:root {

    --bg-color1: #000;
    --bg-color2: #363636;
    --bg-color3: #797979;
    --bg-color4: #001242;
    --bg-color5: #5300a1;

    --font-color1: #fff;
    --font-color2: #a1a1a1;
    --font-color3: #1f1f1f;

}

/* RESET GERAL DA PÃGINA */
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font: inherit;
}

body {
    font-size: 1.6rem;
    /* height: 100vh; */
    background: linear-gradient(45deg, var(--bg-color1) 30%, var(--bg-color4), var(--bg-color5));
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* KEYFRAMES */
@keyframes pulseProject {
    50% {
        transform: scale(1.04);
    }
}

/* HEADER E NAVBAR */
header {
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    color: var(--font-color1);
    z-index: 1;
}

header #navbar ul {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: flex-end;
}

header #navbar ul li a {
    display: block;
    color: var(--font-color1);
    font-weight: bold;
    padding: 15px 10px;
    transition: all ease-in-out 0.7s;
}

/* MAIN */
#welcome-section {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color1);
}

#welcome-section h1 {
    font-weight: bold;
    font-size: xxx-large;
}

#projects {
    scroll-margin-top: 55px;
    background-color: var(--font-color1);
    padding-bottom: 55px;
}

#projects h2 {
    text-align: center;
    padding: 35px 15px 20px 15px;
    color: var(--bg-color4);
    font-size: x-large;
    font-weight: bold;
}

#projects .project-tile {
    display: grid;
    grid-template: repeat(auto-fit, minmax(auto, 100%)) / repeat(auto-fill, minmax(200px, auto));
    gap: 15px;
    justify-content: center;
}

#projects .project-tile a {
    background-color: var(--bg-color4);
    border: 0.5px solid var(--bg-color3);
    transition: transform ease-in-out 0.4s;
}

#projects .project-tile a:hover {
    transform: scale(1.05);
}

#projects .project-tile a img {
    width: 100%;
}

#projects .project-tile a figcaption {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color1);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#projects .project-tile a figcaption span:first-child {
    font-weight: bold;
    margin-bottom: 2px;
}

#projects .project-tile a figcaption span:last-child {
    font-size: x-small;
}

#contacts {
    height: 100vh;
    scroll-margin-top: 54px;
    padding-bottom: 55px;
    background: linear-gradient(180deg, var(--bg-color1), var(--bg-color4));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contacts h2 {
    padding: 35px 15px 30px 15px;
    color: var(--font-color1);
    font-size: x-large;
    font-weight: bold;
}

#contacts a {
    display: inline-block;
    color: var(--font-color1);
    font-size: large;
    font-weight: normal;
    padding: 10px;
    transition: all ease-in-out 0.7s;
}

#contacts a:hover, header #navbar ul li a:hover  {
    background-color: var(--bg-color5);
    transform: translate(5px) scale(1.1);
}

/* FOOTER */
.footer-content {
    color: var(--font-color2);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    padding: 25px;
    font-size: x-small;
}

/* MEDIA QUERIES */
header #navbar, section > *, footer > * {
    margin: 0 auto;
    padding: 0 25px;
}

@media (min-width: 1024px){
    header #navbar, section > *, footer > * {
        width: 900px;
    }
}

@media (min-width: 768px){
    header #navbar, section > *, footer > * {
        width: 700px;
    }
}

@media (max-width: 767px){
    header #navbar, section > *, footer > * {
        max-width: 500px;
    }
}

@media (max-width: 500px){
    header #navbar ul {
        justify-content: center;
    }

    .footer-content {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
}